*{
    box-sizing: border-box;
}
/** GENERAL CSS SETTINGS **/
.d-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.flex-row{
    flex-direction:row;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content:center;
}
.justify-content-end{
    justify-content:flex-end;
}
.justify-content-between{
    justify-content:space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.align-items-center{
    align-items:center;
}
.flex-wrap{
    flex-wrap:wrap;
}
.text-center{
    text-align: center;
}
.w-25{
    width:25%;
}
.w-33{
    width:33%;
}
.w-40{
    width:40%;
}
.w-50{
    width:50%;
}
.w-60{
    width:60%;
}
.w-75{
    width:75%;
}
.w-100{
    width:100%;
}

.container {
    width: 715px; /* Set the width of the grey box */
    background-color: #4a545c; /* Set the background color of the grey box */

}
/*.element1, .element2 {
    position: absolute;
}
.element1 {
    top: 50%;
    left: 50%;
    z-index: 1; !* Element 1 will be on top *!
}
.element2 {
    top: 50%;
    left: 50%;
    z-index: 0; !* Element 2 will be below Element 1 *!
}*/
/*BEGIN fonts*/
@font-face {
    font-family:sog;
    src: url("../webfonts/Segoe UI.woff");
}
@font-face {
    font-family:sogb;
    src: url("../webfonts/Segoe UI Bold.woff");
}
@font-face {
    font-family:sogbi;
    src: url("../webfonts/Segoe UI Bold Italic.woff");
}
@font-face {
    font-family:sogi;
    src: url("../webfonts/Segoe UI Italic.woff");
}
@font-face {
    font-family:sogl;
    src: url("../webfonts/Segoe UI Light.ttf");
}
/*END fonts*/
body{
    margin-top: 0;
    /*width: 1920px;
    margin: 0 auto;*/
}
/*BEGIN navigation*/
ul{
    list-style-type: none;
}
nav li a{
    text-decoration: none;
    color: #FFF;
}
nav{
    background-color: rgba(0, 0, 0, 0.5)
}
nav p{
    font-family: sogb;
    color: #fff;
    font-size: 30px;
    margin: 0;
}
nav span{
    color: #4bcaff;
}
/*END navigation*/

/*BEGIN hero*/
#divheader{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
}
#hero h2{
    font-family:sogl;
    font-size: 42px;
    color:#fff;
    margin: 5px;
}
#hero h2::first-letter{
    background:transparent !important;
}

#h2a{
    z-index: 0;
}
#greybackground{
    background-color: #4a545c;
    width: 685px;
    height: 70px;
    position: absolute;
    top: 92%;
    left: 32%;
    z-index: 1;
}

#hero{
    height: 800px;
}
/*END hero*/