/*CSS variables*/
:root{
    --be-blue: #4bcaff;
}
/*END CSS variables*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/** GENERAL CSS SETTINGS **/
.d-flex{
    display:flex;
}
.flex-column{
    flex-direction:column;
}
.flex-row{
    flex-direction:row;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content:center;
}
.justify-content-end{
    justify-content:flex-end;
}
.justify-content-between{
    justify-content:space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.align-items-center{
    align-items:center;
}
.flex-wrap{
    flex-wrap:wrap;
}
.text-center{
    text-align: center;
}
.w-25{
    width:25%;
}
.w-33{
    width:33%;
}
.w-40{
    width:40%;
}
.w-50{
    width:50%;
}
.w-60{
    width:60%;
}
.w-75{
    width:75%;
}
.w-100{
    width:100%;
}
.line {
    width: 46px;
    border: 1px solid #fff;
    margin: 3px;
    display:inline-block;
}

/*BEGIN fonts*/
@font-face {
    font-family:sog;
    src: url("../webfonts/SegoeUI.woff");
}
@font-face {
    font-family:sogb;
    src: url("../webfonts/SegoeUIBold.woff");
}
@font-face {
    font-family:sogbi;
    src: url("../webfonts/SegoeUIBoldItalic.woff");
}
@font-face {
    font-family:sogi;
    src: url("../webfonts/SegoeUIItalic.woff");
}
@font-face {
    font-family:sogl;
    src: url("../webfonts/SegoeUILight.ttf");
}
/*END fonts*/

/*INITIALIZE BODY*/
body{
    width: 1920px;
    margin: 0 auto; /*centering the screen if it's bigger then 1920*/
}
/*END INITIALIZE BODY*/

/* HEADER - NAVMENU*/
#fullheader{
    background: url("../images/background.png") no-repeat;
    font-family: sogb;
}
#headertop{
    background: rgba(57,68,75,40%);
    padding-top: 55px;
    padding-bottom: 55px;
}
nav{
    width: 1175px;
    margin: 0 auto;
}
#brand{
    font-size: 1.87rem;
    color: #fff;
}
#brand span{
    color: var(--be-blue);
}
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none; /*no underline*/
    color: #fff;
    font-size: 14px;
    padding: 10px 18px;
    border: 2px solid transparent;
    text-transform: uppercase; /*does the uppercase*/
}
ul li a:hover{
    padding: 10px 18px;
    border:2px solid var(--be-blue);
    color: var(--be-blue);
}
/*END HEADER - NAVMENU*/
/*BEGIN HEADER - HERO*/
#hero{
    font-family: sogl;
    font-size: 2.625rem;
    color: #fff;
    text-transform: uppercase;
    padding:269px 0;
}
#hero div:first-child{
    width: 39%;
}
#hero div:last-child{
    width: 52%;
}
#hero div:first-child,#hero div:last-child{
    background: rgba(57,68,75,80%);
}

/*END HEADER - HERO*/

/*BEGIN MAIN - BLUESECTION*/
#main1{
    width: 1920px;
    margin: 0 auto;
    background: var(--be-blue);
}
#main2{
    width: 1920px;
    margin: 0 auto;
    background: #515f67;
    padding: 90px 0;
}
#services{
    width: 1175px;
    margin: 0 auto;

}

main section h2{
    font-family: sogl;
    font-size: 1.87rem;
    text-transform: uppercase;
    color: white;
}
main section h3{
    font-family: sogl;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 21px;
}
main img{
    padding-top: 40px;
    padding-bottom: 23px;
}
main section p{
    font-family: sogl;
    color: white;
    font-size: 0.75rem;
    padding-right: 26px
}
#serviceswrapper{
    padding:80px 0;
}

#defaultsection{
    width: 1299px;
    margin: 0 auto;
}
#defaultsection h2{
    padding-bottom: 75px;
}
#defaultsection p{
    padding-right: 353px;
    line-height: 25px;
    border-bottom-width: 25px;
    margin-bottom: 40px;

}
/*END MAIN - BLUESECTION*/